<h2>音読スターよりパスワード再設定のご案内</h2>
<p><%= @user.name %>様</p>

<p>パスワード再発行のご依頼を受け付けました。</p>
<p>こちらのリンクからパスワードの再設定を行ってください。</p>
<p><%=link_to "#{ENV['FRONT_DOMAIN']}/password_resets/#{@token}/edit", "#{ENV['FRONT_DOMAIN']}/password_resets/#{@token}/edit" %></p>
<br>
<p>※URLの有効期限は24時間です。</p>
<p>※本メールは送信専用のため、こちらのメールアドレスに
ご返信いただいてもお問い合わせはお受けできません。</p>
